@import url("//fonts.googleapis.com/css?family=Raleway:400,400i,700,700i");
/*
 * Typography
 * ========================================================================== */
/*
 * Colors
 * ========================================================================== */
/*
 * Navbar
 * ========================================================================== */
/*
 * Mixins
 * ========================================================================== */
body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", sans-serif;
  position: relative;
  color: #1A1A1A;
  background-color: white;
  font-size: 18px; }

#slp-carousel .carousel-indicators {
  z-index: 2;
  bottom: 20px; }

#slp-carousel .carousel-inner {
  display: block;
  height: 450px; }
  #slp-carousel .carousel-inner .item {
    height: 100%;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  #slp-carousel .carousel-inner .carousel-caption {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    background: url("/cicms/includes/assets/img/slp/transparent-bkg.png") repeat 0 0;
    z-index: 1; }
    #slp-carousel .carousel-inner .carousel-caption h1 {
      display: inline-block;
      font-size: 50px;
      color: #165A00;
      vertical-align: middle;
      text-transform: uppercase; }
  #slp-carousel .carousel-inner .carousel-caption:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }

#slp-carousel .carousel-control.right,
#slp-carousel .carousel-control.left {
  background-image: none; }

@media (max-width: 768px) {
  #slp-carousel .carousel-inner {
    height: 250px; }
    #slp-carousel .carousel-inner .carousel-caption h1 {
      font-size: 35px;
      line-height: 35px;
      margin-top: 10px;
      margin-bottom: 10px; } }

.slp-gallery-image-wrapper,
.slp-icons-img-wrapper {
  position: relative;
  overflow: hidden; }

.slp-gallery-image-wrapper {
  width: 100%;
  padding-bottom: 56.25%; }

.slp-icons-img-wrapper {
  width: 60%;
  padding-bottom: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.slp-gallery-image-wrapper img,
.slp-icons-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.slp-gallery-img-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  background: url("/cicms/includes/assets/img/slp/transparent-bkg.png") repeat 0 0;
  z-index: 1; }

.displayimage {
  position: relative;
  display: block;
  width: auto;
  max-width: 100%; }

.displayimage img {
  float: left;
  margin: 40px;
  max-width: 100%; }

.displayimage a {
  width: 100%;
  float: left;
  position: relative;
  z-index: 100; }

.displayimage .image_caption {
  font-size: 14px;
  padding: 0;
  margin: 0;
  position: relative;
  top: -30px;
  left: 40px; }

.imageStyle1 {
  float: right !important; }

.imageStyle1 img {
  margin-right: 0 !important; }

.imageStyle2 {
  float: left !important; }

.imageStyle2 img {
  margin-left: 0 !important; }

.imageStyle3 {
  text-align: center; }

.imageStyle3 .image_caption {
  left: 0; }

.imageStyle3 img {
  float: none; }

.imageStyle0 {
  display: none; }

.text-container {
  position: relative;
  display: block;
  width: auto;
  max-width: 100%;
  float: none; }

.text-container ul {
  padding: 0; }

.text-container ul li {
  position: relative;
  left: 35px; }

.displayStyle2 {
  width: 50% !important;
  float: left !important; }

.displayMapStyle1 {
  display: none; }

.displayMapStyle2 {
  display: block;
  margin-top: 80px;
  width: 50% !important;
  float: left !important; }

.displayMapStyle2 iframe {
  width: 100% !important;
  float: left !important; }

.popup-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999; }

.popup-container-content {
  background: white;
  height: 80%;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.popup-container-content.image {
  background: none; }

.popup-container-trigger {
  float: left;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 50; }

.popup-close {
  color: white;
  position: relative;
  text-shadow: 1px 1px 2px #000000;
  cursor: pointer; }

@media (max-width: 1200px) {
  .slp-lead img {
    margin: 0;
    margin-top: 40px; }
  /*width:100%!important;    */
  .displayimage .image_caption {
    top: 10px !important; }
  .imageStyle1 img {
    padding-left: 40px !important; }
  .imageStyle2 img {
    padding-right: 40px !important; } }

@media (max-width: 991px) {
  .displayimage .image_caption {
    left: 0; }
  .displayStyle2 {
    width: 100% !important;
    float: left !important; }
  .displayMapStyle1 {
    display: none; }
  .displayMapStyle2 {
    display: block;
    margin-top: 80px;
    width: 100% !important;
    float: left !important; }
  .row .slp-lead span {
    float: left; }
  .row .slp-lead span img {
    float: none; }
  .row .text-container {
    width: 100%; }
  .displayimage {
    float: left;
    width: 100% !important; }
  .displayimage img {
    width: 100%; }
  .text-container {
    float: left;
    width: 100% !important; }
  .text-container ul li {
    position: relative;
    left: 20px;
    max-width: 93%; }
  .imageStyle1 img {
    padding-left: 0px !important; }
  .imageStyle2 img {
    padding-right: 0px !important; } }

@media (max-width: 767px) {
  .container img {
    width: auto;
    max-width: 100%;
    max-height: none; }
  .displayimage img {
    margin: 0;
    float: left; }
  .displayimage .image_caption {
    top: 10px; }
  .displayimage {
    float: left; }
  .text-container {
    float: left; } }

.slp-top-header {
  position: relative;
  display: block;
  width: 100%;
  background-color: white; }

@media (max-width: 767px) {
  .slp-top-left,
  .slp-top-right {
    float: none; }
  .slp-top-left {
    display: block;
    width: 100%;
    height: auto; }
    .slp-top-left img {
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
  .slp-top-right {
    width: 100%;
    height: auto;
    text-align: left; } }

@media (min-width: 768px) {
  .slp-top-left {
    display: block;
    width: 460px;
    height: 76px;
    margin: 10px 0;
    float: left; }
  .slp-top-right {
    display: block;
    width: auto;
    height: 96px;
    float: right;
    text-align: center; }
    .slp-top-right a {
      vertical-align: middle; }
  .slp-top-right:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; } }

.navbar-changed {
  min-height: 40px;
  background-color: #1D2937;
  border: 0 none;
  -webkit-border-radius: 0;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;
  /* Firefox 1-3.6 */
  -ms-border-radius: 0;
  border-radius: 0;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  margin: 0;
  padding: 0;
  /* navbar-toggle */
  /* remove collapse top line */ }
  .navbar-changed .navbar-toggle,
  .navbar-changed .navbar-toggle:focus,
  .navbar-changed .navbar-toggle:hover {
    background: transparent !important;
    border: 0 none;
    -webkit-border-radius: 0;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 0;
    /* Firefox 1-3.6 */
    -ms-border-radius: 0;
    border-radius: 0;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 10px; }
  .navbar-changed .navbar-toggle .icon-bar {
    -webkit-border-radius: 0;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 0;
    /* Firefox 1-3.6 */
    -ms-border-radius: 0;
    border-radius: 0;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    height: 4.8px;
    width: 24px;
    background-color: white;
    -webkit-transition: all 0.25s;
    /* WebKit */
    -moz-transition: all 0.25s;
    /* Mozilla */
    -o-transition: all 0.25s;
    /* Opera */
    transition: all 0.25s;
    /* Generic */ }
    .navbar-changed .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 4.8px; }
  .navbar-changed .navbar-toggle:focus > .icon-bar,
  .navbar-changed .navbar-toggle:hover > .icon-bar {
    background-color: white;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }
  .navbar-changed .navbar-brand {
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 15px; }
    .navbar-changed .navbar-brand img {
      height: 40px; }
  .navbar-changed .navbar-collapse,
  .navbar-changed .navbar-form {
    border: 0 none; }
  .navbar-changed .navbar-collapse {
    background-color: #1D2937;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .navbar-changed .navbar-nav li a {
    display: block;
    padding: 20px 30px;
    font-size: 16px;
    line-height: 14px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    background: transparent;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    /* WebKit */
    -moz-transition: all 0.25s ease-in-out;
    /* Mozilla */
    -o-transition: all 0.25s ease-in-out;
    /* Opera */
    transition: all 0.25s ease-in-out;
    /* Generic */ }
    .navbar-changed .navbar-nav li a:hover, .navbar-changed .navbar-nav li a:active {
      color: #7AC429; }
  .navbar-changed .navbar-nav li a.active-item {
    color: white; }
  .navbar-changed .navbar-nav li.active > a {
    color: white !important; }

@media (max-width: 767px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: left;
    vertical-align: middle; }
  .navbar .navbar-collapse {
    text-align: left; } }

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
  .navbar .navbar-collapse {
    text-align: center; } }

.navbar-clear-margin {
  margin-bottom: 0; }

/* navbar collapse */
.slp-btn-green.disabled,
.slp-btn-green[disabled],
.slp-btn-blue.disabled,
.slp-btn-blue[disabled] {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  /* for IE8 */
  filter: alpha(opacity=65);
  /* for IE5-7 */
  opacity: 0.65;
  /* for all other browsers */
  border: 0 none; }

.slp-btn-borderless-green {
  display: inline;
  color: #1A1A1A;
  background: transparent;
  text-decoration: none !important;
  border: 0 none;
  -webkit-transition: all 0.25s ease-in-out;
  /* WebKit */
  -moz-transition: all 0.25s ease-in-out;
  /* Mozilla */
  -o-transition: all 0.25s ease-in-out;
  /* Opera */
  transition: all 0.25s ease-in-out;
  /* Generic */
  text-transform: uppercase; }
  .slp-btn-borderless-green:hover, .slp-btn-borderless-green:active {
    color: #7AC429;
    background: transparent;
    border: 0 none; }

.slp-btn-borderless-blue {
  display: inline;
  color: #1A1A1A;
  background: transparent;
  text-decoration: none !important;
  border: 0 none;
  -webkit-transition: all 0.25s ease-in-out;
  /* WebKit */
  -moz-transition: all 0.25s ease-in-out;
  /* Mozilla */
  -o-transition: all 0.25s ease-in-out;
  /* Opera */
  transition: all 0.25s ease-in-out;
  /* Generic */
  text-transform: uppercase; }
  .slp-btn-borderless-blue:hover, .slp-btn-borderless-blue:active {
    color: #1D2937;
    background: transparent;
    border: 0 none; }

.slp-btn-green {
  font-size: 16px;
  margin: 5px;
  padding: 6px 30px;
  color: white;
  background-color: #7AC429;
  text-decoration: none;
  border: 0 none;
  -webkit-border-radius: 4px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 4px;
  /* Firefox 1-3.6 */
  -ms-border-radius: 4px;
  border-radius: 4px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  -webkit-transition: all 0.25s ease-in-out;
  /* WebKit */
  -moz-transition: all 0.25s ease-in-out;
  /* Mozilla */
  -o-transition: all 0.25s ease-in-out;
  /* Opera */
  transition: all 0.25s ease-in-out;
  /* Generic */
  text-transform: uppercase; }
  .slp-btn-green:hover, .slp-btn-green:focus, .slp-btn-green.active {
    color: white;
    background-color: #1D2937;
    text-decoration: none;
    border: 0 none; }

.slp-btn-blue {
  font-size: 16px;
  margin: 5px;
  padding: 6px 30px;
  color: white;
  background-color: #1D2937;
  text-decoration: none;
  border: 0 none;
  -webkit-border-radius: 4px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 4px;
  /* Firefox 1-3.6 */
  -ms-border-radius: 4px;
  border-radius: 4px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  -webkit-transition: all 0.25s ease-in-out;
  /* WebKit */
  -moz-transition: all 0.25s ease-in-out;
  /* Mozilla */
  -o-transition: all 0.25s ease-in-out;
  /* Opera */
  transition: all 0.25s ease-in-out;
  /* Generic */
  text-transform: uppercase; }
  .slp-btn-blue:hover, .slp-btn-blue:focus, .slp-btn-blue.active {
    color: white;
    background-color: #7AC429;
    text-decoration: none;
    border: 0 none; }

.slp-btn-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slp-btn-inline-center {
  display: inline-block; }

.slp-btn-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  text-align: center; }

.slp-menu-box {
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  text-decoration: none !important; }
  .slp-menu-box p {
    color: white !important; }

.slp-gap-lg {
  display: block;
  width: 100%;
  height: 20px; }

.slp-gap-sm {
  display: block;
  width: 100%;
  height: 10px; }

.slp-divider {
  display: block;
  border-top: 1px solid white;
  margin: 20px 0;
  height: 1px;
  width: 100%; }

.container-inner {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px; }

.container-padding-sm {
  padding: 10px 15px; }

.slp-margin-top-btm {
  margin-top: 10px;
  margin-bottom: 10px; }

.slp-bkg-blue {
  background-color: #1D2937; }

.slp-bkg-green {
  background-color: #7AC429; }

.slp-bkg-white {
  background-color: white; }

.slp-text-blue {
  color: #1D2937; }

.slp-text-green {
  color: #7AC429; }

.slp-text-black {
  color: #1A1A1A; }

.slp-text-white {
  color: white; }

.slp-bkg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.slp-bkg-none {
  background-image: none !important; }

.slp-padding-top-btm {
  padding-top: 30px;
  padding-bottom: 30px; }

.slp-left-margin {
  margin-left: 45px; }

.main-wrapper {
  position: relative;
  padding: 0; }

.main-inner {
  margin-top: 75px; }

.slp-well {
  display: block;
  width: 100%;
  min-height: 10px;
  padding: 20px 35px;
  margin-bottom: 20px;
  background-color: white;
  -webkit-border-radius: 6px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 6px;
  /* Firefox 1-3.6 */
  -ms-border-radius: 6px;
  border-radius: 6px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */ }
  .slp-well [class*=col-] {
    padding: 10px; }
    .slp-well [class*=col-] [class*=col-] {
      padding: 5px; }

/* max-width: 767 + 250 ($sidenav-width) = 1017 */
.hyphens {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.footer {
  color: white;
  background-color: #1D2937;
  padding: 30px 0; }
  .footer .footer-menu {
    display: block;
    margin: 0 0 20px; }
    .footer .footer-menu ul {
      text-align: center;
      margin: 0;
      padding: 0; }
      .footer .footer-menu ul li {
        display: inline-block;
        margin: 0 5px; }
  .footer p {
    margin-bottom: 0;
    font-size: 14px; }
  .footer a {
    color: white;
    text-decoration: none;
    padding: 0;
    -webkit-transition: color 0.25s ease-in-out;
    /* WebKit */
    -moz-transition: color 0.25s ease-in-out;
    /* Mozilla */
    -o-transition: color 0.25s ease-in-out;
    /* Opera */
    transition: color 0.25s ease-in-out;
    /* Generic */ }
    .footer a:focus, .footer a:hover {
      color: #7AC429;
      text-decoration: none; }
  .footer a.nav-social-button {
    position: relative;
    margin: 5px;
    text-align: center;
    float: left; }
    .footer a.nav-social-button i {
      color: white;
      background-color: #7AC429;
      font-size: 20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      -webkit-border-radius: 30px;
      /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      -moz-border-radius: 30px;
      /* Firefox 1-3.6 */
      -ms-border-radius: 30px;
      border-radius: 30px;
      /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */ }
    .footer a.nav-social-button:hover i {
      color: white;
      background-color: #165A00; }
  .footer .btn-facebook i {
    background-color: #2B4170 !important; }
  .footer .btn-facebook:hover i {
    background-color: #3B5998 !important; }
  .footer .btn-twitter i {
    background-color: #0081CE !important; }
  .footer .btn-twitter:hover i {
    background-color: #00ACED !important; }
  .footer .btn-pinterest i {
    background-color: #A0171C !important; }
  .footer .btn-pinterest:hover i {
    background-color: #CB2027 !important; }
  .footer .app-store-logo {
    max-width: 100%;
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px; }
