@mixin row-first-child($col-type) {
  .col-#{$col-type}- {
    &1:nth-child(12n+1),
    &2:nth-child(6n+1),
    &3:nth-child(4n+1),
    &4:nth-child(3n+1),
    &6:nth-child(odd){
      clear: left;
    }
  }
}

.auto-clear {
  @media (min-width: 1200px){
    @include row-first-child(lg);
  }
  @media (min-width: 992px) and (max-width: 1199px){
    @include row-first-child(md);
  }
  @media (min-width: 768px) and (max-width: 991px){
    @include row-first-child(sm);
  }
  @media (max-width: 767px){
    @include row-first-child(xs);
  }
}