#slp-carousel {
  .carousel-indicators {
    z-index: 2;
    bottom: 20px;
  }

  .carousel-inner {
    display: block;
    height: 450px;

    .item {
      height: 100%;
      width: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .carousel-caption {
      display: table;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0;
      background: url("/cicms/includes/assets/img/slp/transparent-bkg.png") repeat 0 0;
      z-index: 1;

      h1 {
        display: table-cell;
        font-size: 50px;
        color: $dark-green;
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }


  .carousel-control.right,
  .carousel-control.left {
    background-image: none;
  }
}

@media (max-width: 768px) {
  #slp-carousel {
    .carousel-inner {
      height: 250px;

      .carousel-caption {
        h1 {
          font-size: 35px;
          line-height: 35px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.slp-gallery-image-wrapper,
.slp-icons-img-wrapper {
  position: relative;
  overflow: hidden;
}

.slp-gallery-image-wrapper {
  width: 100%;
  padding-bottom: 56.25%;
}

.slp-icons-img-wrapper {
  width: 60%;
  padding-bottom: 60%;
  text-align: center;
  margin: 25px auto 35px;
}

.slp-gallery-image-wrapper img,
.slp-icons-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slp-gallery-img-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  background: url("/cicms/includes/assets/img/slp/transparent-bkg.png") repeat 0 0;
  z-index: 1;
}

.slp-carousel-performance-wrapper {
  position: relative;
  width: 100%;
}

#slp-carousel-performance {
  width: 100%;

  .carousel-inner {
    width: 100%;
    height: auto;
    padding-bottom: 56%;

    .item {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      @include transition(opacity 1s ease-in-out !important);
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

/*WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity*/
@media all and (transform-3d), (-webkit-transform-3d) {
  #slp-carousel-performance .carousel-inner > .item.next,
  #slp-carousel-performance .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #slp-carousel-performance .carousel-inner > .item.prev,
  #slp-carousel-performance .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #slp-carousel-performance .carousel-inner > .item.next.left,
  #slp-carousel-performance .carousel-inner > .item.prev.right,
  #slp-carousel-performance .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}