.displayimage {position: relative;display: block;width: auto;max-width: 100%;}
.displayimage img{float: left;margin: 40px;max-width: 100%;}
.displayimage a{width: 100%;float: left;position: relative;z-index: 100;}
.displayimage .image_caption{font-size: 14px;padding: 0;margin: 0;position: relative;top: -30px;left:40px;}

.imageStyle1{float:right!important;}
.imageStyle1 img {margin-right:0!important}
.imageStyle2{float:left!important;}
.imageStyle2 img {margin-left:0!important}
.imageStyle3{text-align: center;}
.imageStyle3 .image_caption {left: 0;}
.imageStyle3 img{float:none;}
.imageStyle4{}
.imageStyle5{}
.imageStyle0{display:none;}

.text-container {position: relative;display: block;width: auto;max-width: 100%;float: none;}
.text-container ul {padding:0;}
.text-container ul li{    position: relative;left: 35px;}

.displayStyle2{width:50%!important;float:left!important}
.displayMapStyle1{display:none;}
.displayMapStyle2{display:block;margin-top:80px;width:50%!important;float:left!important}
.displayMapStyle2 iframe{width:100%!important;float:left!important}

.popup-container{
  position: fixed;
  background: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.popup-container-content{
  background: white;
  height: 80%;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.popup-container-content.image{
  background:none;
}

.popup-container-trigger{
  float: left;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 50;
}

.popup-close {
  color: white;
  position: relative;
  text-shadow: 1px 1px 2px #000000;
  cursor: pointer;
}

.slp-lead.home{
  font-size: 25px;
}

@media(max-width:1200px){
  .slp-lead img{margin: 0;margin-top: 40px;}/*width:100%!important;    */
  .displayimage .image_caption{top:10px!important;}

  .imageStyle1 img { padding-left:40px!important;}
  .imageStyle2 img { padding-right:40px!important;}
}

@media(max-width:991px) {
  .displayimage .image_caption{left:0;}
  .displayStyle2{width:100%!important;float:left!important}
  .displayMapStyle1{display:none;}
  .displayMapStyle2{display:block;margin-top:80px;width:100%!important;float:left!important}

//  .row .slp-lead {text-align: center}
  .row .slp-lead span {float: left;}
  .row .slp-lead span img {float: none;}
  .row .text-container {width: 100%;}

  .displayimage {float: left;width: 100% !important;}
  .displayimage img {width: 100%}
  .text-container {float: left;width: 100% !important;}

  .text-container ul li{position: relative;left: 20px;max-width: 93%;}
  .imageStyle1 img { padding-left:0px!important;}
  .imageStyle2 img { padding-right:0px!important;}
}

@media(max-width:767px){
  .container img{width:auto;max-width:100%;max-height:none;}
  .displayimage img{margin:0;float:left;}
  .displayimage .image_caption{top:10px;}
  .displayimage {float: left;}
  .text-container {float: left;}
}