.footer {
  color: white;
  background-color: $dark-blue;
  padding: 30px 0;

  .footer-menu {
    display: block;
    margin: 0 0 20px;

    ul {
      text-align: center;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 0;
    @include transition(color .25s ease-in-out);

    &:focus,
    &:hover {
      color: $light-green;
      text-decoration: none;
    }
  }

  a.nav-social-button {
    position: relative;
    margin: 5px;
    text-align: center;
    float: left;

    i {
      color: white;
      background-color: $light-green;
      font-size: 20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      @include border-radius(30px);
    }

    &:hover i {
      color: white;
      background-color: $dark-green;
    }
  }

  .btn-facebook {
    i {
      background-color: $facebook !important;
    }

    &:hover i {
      background-color: $facebook-hover !important;
    }
  }

  .btn-twitter {
    i {
      background-color: $twitter !important;
    }

    &:hover i {
      background-color: $twitter-hover !important;
    }
  }

  .btn-pinterest {
    i {
      background-color: $pinterest !important;
    }

    &:hover i {
      background-color: $pinterest-hover !important;
    }
  }

  .app-store-logo {
    max-width: 100%;
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
