form {
  border: 1px solid $grey-line;
  padding: 20px;
  @include border-radius(10px);
}

.p-form {
  margin: 10px 0;
}

.h-form {
  margin: 0 0 20px;
}

.stylish-input-group {

  .input-group-addon {
    background: white !important;
  }

  .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
  }

  button {
    border: 0;
    background: transparent;
  }
}

.control-label {
  text-align: left !important;
  text-transform: uppercase;
}

.selectAction {
  display: inline-block;
  width: auto;
  text-transform: uppercase;

  option {
    text-transform: uppercase;
  }
}

.red-border {
  border: 1px solid $pink;
}

/* Fix indentation issue (in non app edition) due to correction of form group layouts */
.form-group .row {
  margin-left: 0;
  margin-right: 0;
}
