a i.red-icon,
button i.red-icon {
  display: inline-block;
  vertical-align: middle;

  margin-right: 10px;
  background: url('/bookit/assets/img/icons/new.png') no-repeat center center;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  width: 15px;
  height: 15px;
}

i.ion-icon {
  font-size: 25px;
  font-weight: bold;
  color: $grey-icon;

  &:hover {
    color: $grey-icon;
  }
}

i.icon-search {
  display: inline-block;
  vertical-align: baseline;

  background: url('/bookit/assets/img/icons/search.png') no-repeat center center;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  width: 15px;
  height: 15px;
}

i.edit-icon,
i.note-icon,
i.quote-equal-icon,
i.plus-round-icon,
i.equal-icon,
i.remove-icon,
i.remove-icon-sm
{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  background-size: cover !important;
  image-rendering: -webkit-optimize-contrast;
}

i.edit-icon {
  background: url('/bookit/assets/img/icons/edit.png') no-repeat center center;
}

i.note-icon {
  background: url('/bookit/assets/img/icons/note.png') no-repeat center center;
}
i.quote-equal-icon {
  width: 30px;
  height: 30px;
  background: url('/bookit/assets/img/icons/quote-equals.png') no-repeat center center;
}

i.plus-round-icon {
  background: url('/bookit/assets/img/icons/plus-round-icon.png') no-repeat center center;
}

i.equal-icon {
  background: url('/bookit/assets/img/icons/equal.png') no-repeat center center;
}

i.remove-icon,
i.remove-icon-sm {
  background: url('/bookit/assets/img/icons/remove.png') no-repeat center center;
}

i.remove-icon-sm {
  width: 12px;
  height: 12px;
}

.select-icon {
  font-family: 'Ionicons', 'Helvetica Neue';

  option  {
    font-family: 'Ionicons', 'Helvetica Neue';
  }
}

.btn-remove {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: $grey-line;
}

.select2-selection__clear {
  color: $grey-icon;
}

span.clear-icon {
  position: relative;
  cursor: pointer;
  float: right;
  font-weight: bold;
  line-height: 28px;
  color: $grey-icon;
}