.slp-btn-green.disabled,
.slp-btn-green[disabled],
.slp-btn-blue.disabled,
.slp-btn-blue[disabled] {
  cursor: not-allowed;
  @include box-shadow(none);
  @include opacity(65);
  border: 0 none;
}

.slp-btn-borderless-green {
  display: inline;
  color: $black;
  background: transparent;
  text-decoration: none !important;
  border: 0 none;
  @include transition(all .25s ease-in-out);
  text-transform: uppercase;

  &:hover,
  &:active {
    color: $light-green;
    background: transparent;
    border: 0 none;
  }
}

.slp-btn-borderless-blue {
  display: inline;
  color: $black;
  background: transparent;
  text-decoration: none !important;
  border: 0 none;
  @include transition(all .25s ease-in-out);
  text-transform: uppercase;

  &:hover,
  &:active {
    color: $dark-blue;
    background: transparent;
    border: 0 none;
  }
}

.slp-btn-borderless a {
  display: inline;
  color: inherit;
  background: transparent;
  text-decoration: none !important;
  border: 0 none;
  @include transition(all .25s ease-in-out);

  &:hover,
  &:active {
    color: inherit;
    background: transparent;
    border: 0 none;
  }
}

.slp-btn-green {
  font-size: 16px;
  margin: 5px;
  padding: 6px 30px;
  color: white;
  background-color: $light-green;
  text-decoration: none;
  border: 0 none;
  @include border-radius(4px);
  @include transition(all .25s ease-in-out);
  text-transform: uppercase;

  &:hover,
  &:focus,
  &.active {
    color: white;
    background-color: $dark-blue;
    text-decoration: none;
    border: 0 none;
  }
}

.slp-btn-blue {
  font-size: 16px;
  margin: 5px;
  padding: 6px 30px;
  color: white;
  background-color: $dark-blue;
  text-decoration: none;
  border: 0 none;
  @include border-radius(4px);
  @include transition(all .25s ease-in-out);
  text-transform: uppercase;

  &:hover,
  &:focus,
  &.active {
    color: white;
    background-color: $light-green;
    text-decoration: none;
    border: 0 none;
  }
}

.slp-btn-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slp-btn-inline-center {
  display: inline-block;
}

.slp-btn-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  text-align: center;
}

.slp-menu-box {
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  text-decoration: none !important;

  p {
    color: white !important;
  }
}