@media (max-width: 767px) {
  .media-left {
    display: block;
    width: 100%;
    text-align: center;

    .media-object {
      display: inline-block;
    }
  }

  .media-body,
  .media-left,
  .media-right {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.media {
  display: block;
  width: 100%;
  margin-top: 40px;
}

//the alternate colours doesn't work please revert back and just add a hr between each article
//.outerwrapper .media:nth-child(2n) {
//  background: white;
//  color: $black;
//}