@media screen and (min-width: 768px) {
  .modal-dialog {
    min-width: 600px;
    width: 50%;
  }
}

body.modal-open {
  overflow: hidden;
  position:fixed;
  width: 100%;
  height: 100%;
}