@mixin nav-link() {
  line-height: $navbar-inner-height;
  border: 0 none;
  @include border-radius(0);
  padding: 0 15px;
  margin: $navbar-inner-margin 0;
}

@mixin nav-link-hover() {
  margin: $navbar-inner-margin 0 $navbar-inner-margin/2;
  border-bottom: $navbar-inner-margin/2 solid $dark-blue;
}

.slp-top-header {
  position: relative;
  display: block;
  width: 100%;
  background-color: white;
}

@media (max-width: 767px) {
  .slp-top-left,
  .slp-top-right {
    float: none;
  }

  .slp-top-left {
    display: block;
    width: 100%;
    height: auto;

    img {
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .slp-top-right {
    width: 100%;
    height: auto;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .slp-top-left {
    display: block;
    width: 460px;
    height: $logo-height;
    margin: $logo-margin 0;
    float: left;
  }

  .slp-top-right {
    display: block;
    width: auto;
    height: $top-header-height;
    float: right;
    text-align: center;

    a {
      vertical-align: middle;
    }
  }

  .slp-top-right:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.navbar-changed {
  min-height: $navbar-height;
  background-color: $dark-blue;
  border: 0 none;
  @include border-radius(0);
  margin: 0;
  padding: 0;

  /* navbar-toggle */
  .navbar-toggle,
  .navbar-toggle:focus,
  .navbar-toggle:hover
  {
    background: transparent !important;
    border: 0 none;
    @include border-radius(0);
    margin-top: $navbar-toggle-margin;
    margin-bottom: $navbar-toggle-margin;
    padding: 0 10px;
  }

  .navbar-toggle {
    .icon-bar {
      @include border-radius(0);
      height: $navbar-toggle-height / 5;
      width: $navbar-toggle-width;
      background-color: white;
      @include transition(all .25s);

      & + .icon-bar {
        margin-top: $navbar-toggle-height / 5;
      }
    }

    &:focus > .icon-bar,
    &:hover > .icon-bar {
      background-color: white;
      @include transform-rotate(360deg);
    }
  }

  .navbar-brand {
    height: $navbar-inner-height;
    margin-top: $navbar-inner-margin;
    margin-bottom: $navbar-inner-margin;
    padding: 0 0 0 15px;

    img {
      height: $navbar-inner-height;
    }
  }

  /* remove collapse top line */
  .navbar-collapse,
  .navbar-form {
    border: 0 none;
  }

  .navbar-collapse {
    background-color: $dark-blue;
    @include box-shadow(none);
  }

  .navbar-nav {
    li {
      a {
        display: block;
        padding: 20px;
        font-size: 16px;
        line-height: 14px;
        vertical-align: middle;
        text-decoration: none;
        color: white;
        background: transparent;
        text-transform: uppercase;
        @include transition(all .25s ease-in-out);

        &:hover,
        &:active {
          color: $light-green;
        }
      }

      a.active-item {
        color: white;
      }
    }

    li.active > a {
      color: white !important;
    }
  }
}

@media (max-width: 767px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: left;
    vertical-align: middle;
  }

  .navbar .navbar-collapse {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

.navbar-clear-margin {
  margin-bottom: 0;
}

/* navbar collapse */
//@media (max-width: 767px) {
//  .navbar-header {
//    float: none;
//  }
//  .navbar-toggle {
//    display: block;
//  }
//  .navbar-collapse.collapse {
//    display: none!important;
//  }
//  .navbar-nav {
//    float: none!important;
//    margin: 0;
//  }
//  .navbar-default .navbar-nav > .open {
//    a,
//    a:focus,
//    a:hover {
//      background-color: transparent;
//    }
//  }
//  .navbar-nav > li {
////    float: none;
//    width: 100%;
//    float: left;
//
//    .dropdown-menu {
//      left: 0;
//      padding-left: 40px;
//      background: transparent;
//      position: relative;
//      width: 100%;
//      border: 0 none;
//      @include border-radius(unset);
//
//      a {
//        background-color: transparent;
//      }
//    }
//  }
//
//  /* since 3.1.0 */
//  .navbar-collapse.collapse.in {
//    display: block!important;
//    overflow-y: auto!important;
//  }
//  .collapsing {
//    overflow: hidden!important;
//  }
//}
//
//@media screen and (min-width: 768px) {
//  .navbar-default .navbar-nav > .open {
//    .dropdown-menu {
//      left: auto;
//      padding-left: 5px;
//      background-color: white;
//      position: absolute;
//      width: auto;
//      border: 1px solid #ccc;
//      @include border-radius(4px);
//
//      li {
//        a,
//        a:focus,
//        a:hover {
//          padding: 0 15px;
//        }
//      }
//    }
//  }
//  .navbar-default .navbar-nav > .open .dropdown-menu {
//    right: 0;
//    left: auto;
//  }
//  .topnav li.dropdown:hover > ul.dropdown-menu,
//  ul.nav li.dropdown:hover > ul.dropdown-menu {
//    display: block;
//  }
//  //.dropdown:hover .dropdown-menu,
//  //.btn-group:hover .dropdown-menu{
//  //  display: block;
//  //}
//
//  .dropdown-menu{
//    margin-top: 0;
//  }
//
//  .dropdown-toggle{
//    margin-bottom: 2px;
//  }
//
//  .navbar .dropdown-toggle,
//  .nav-tabs .dropdown-toggle{
//    margin-bottom: 0;
//  }
//}