.bki-panel {
  background-color: white;
  min-height: 200px;

  h3,
  p {
    margin: 0;
  }

  .panel-heading {
    padding: 30px 30px 0;
  }

  .panel-body {
    padding: 30px;
  }

  .circle-number {
    display: inline-block;
    font-size: 26px;
    border-radius: 48px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: $grey-bkg;
    float: right;
    text-align: center;
    vertical-align: middle;
    margin-top: -10px;
  }

  .circle-number.pink-color {
    background-color: $pink;
    color: white;
  }
}