table.bki-table {
  border-collapse: separate;
  background-color: white;
  @include border-radius(6px);
  border-left: 0px;
  padding: 20px;
  width: 100%;

  tbody > tr > td,
  tbody > tr > th,
  tfoot > tr > td,
  tfoot > tr > th {
    color: $black-text;
    padding: 8px;
    //line-height: 1.42857143;
    //vertical-align: top;
    border-top: none !important;
  }

  thead > tr > td,
  thead > tr > th {
    color: $black-table-heading;
    padding-bottom: 20px !important;
    border-top: none !important;
    text-transform: uppercase;
  }

  tbody table > tbody > tr:hover {
    background-color: $grey-bkg;
  }

  th {
    border-top: none;
  }

  th:first-child {
    @include border-radius(6px 0 0 0);
  }

  th:last-child {
    @include border-radius(0 6px 0 0);
  }

  th:only-child{
    @include border-radius(6px 6px 0 0);
  }

  tr:last-child td:first-child {
    @include border-radius(0 0 0 6px);
  }

  tr:last-child td:last-child {
    @include border-radius(0 0 6px 0);
  }
}

.tableHeading {
  color: $black-table-heading;
  text-transform: uppercase;
  font-weight: bold;
}

.bki-table-border-top-bottom {
  border-top: 3px solid $dark-pink !important;
  border-bottom: 3px solid $dark-pink !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}