@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Raleway:400,400i,700,700i");
/*
 * Typography
 * ========================================================================== */
$font-family-base: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;

/*
 * Colors
 * ========================================================================== */
//$other-pink: #C60B46;
//$other-dark-pink: #73001D;
$light-green: #7AC429;
$dark-green: #165A00;
$light-blue: #9BADC1;
$med-blue: #536D8C;
$dark-blue: #1D2937;
$grey: #4F4F4F;
$black: #1A1A1A;

$facebook: #2B4170;
$facebook-hover: #3B5998;
$google: #C33219;
$google-hover: #E64522;
$linkedin: #0073B2;
$linkedin-hover: #009CDA;
$pinterest: #A0171C;
$pinterest-hover: #CB2027;
$twitter: #0081CE;
$twitter-hover: #00ACED;
/*
 * Navbar
 * ========================================================================== */
// normal mode
$navbar-inner-margin: 0;
$navbar-inner-height: 40px;
$navbar-height: $navbar-inner-height + 2 * $navbar-inner-margin;

$navbar-toggle-height: 24px;
$navbar-toggle-width: 24px;
$navbar-toggle-margin: ($navbar-height - $navbar-toggle-height) / 2;

$logo-height: 76px;
$logo-margin: 10px;
$top-header-height: $logo-height + 2 * $logo-margin;
/*
 * Mixins
 * ========================================================================== */
@mixin transition($value) {
  -webkit-transition: $value; /* WebKit */
  -moz-transition: $value; /* Mozilla */
  -o-transition: $value; /* Opera */
  transition: $value; /* Generic */
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: $radius; /* Firefox 1-3.6 */
  -ms-border-radius: $radius;
  border-radius: $radius; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

@mixin transform-rotate($value) {
  -ms-transform: rotate($value); /* IE 9 */
  -webkit-transform: rotate($value); /* Chrome, Safari, Opera */
  -moz-transform: rotate($value); /* Mozilla */
  transform: rotate($value); /* Generic */
}

@mixin transform-scale($value) {
  -ms-transform: scale($value); /* IE 9 */
  -webkit-transform: scale($value); /* Chrome, Safari, Opera */
  -moz-transform: scale($value); /* Mozilla */
  transform: scale($value); /* Generic */
}

@mixin transform-translate3d($tx, $ty, $tz) {
  -ms-transform: translate3d($tx, $ty, $tz); /* IE 9 */
  -webkit-transform: translate3d($tx, $ty, $tz); /* Chrome, Safari, Opera */
  -moz-transform: translate3d($tx, $ty, $tz); /* Mozilla */
  transform: translate3d($tx, $ty, $tz); /* Generic */
}

@mixin transform-rotate($value) {
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -o-transform: rotate($value);
  -ms-transform: rotate($value);
  transform: rotate($value);
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin opacity($value) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value})"; /* for IE8 */
  filter: alpha(opacity=$value); /* for IE5-7 */
  opacity: $value/100; /* for all other browsers */
}

@mixin hyphens($value) {
  -webkit-hyphens: $value;
  -moz-hyphens: $value;
  -ms-hyphens: $value;
  hyphens: $value
}