@import "variables";

body {
  font-family: $font-family-base;
  position: relative;
  color: $black;
  background-color: white;
  font-size: 18px;
}

@import "carousel.scss";
@import "cisuite";
@import "navbar";
@import "linkButton";
@import "media";
@import "autoclearfix";
//@import "form";
//@import "icon";
//@import "panel";
//@import "table";
//@import "modal";

.slp-gap-lg {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  position: relative;
}

.slp-gap-sm {
  display: block;
  width: 100%;
  height: 10px;
  float: left;
  position: relative;
}

.slp-divider {
  display: block;
  border-top: 1px solid white;
  margin: 20px 0;
  height: 1px;
  width: 100%;
}

.container-inner {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.container-padding-sm {
  padding: 10px 15px;
}

.slp-margin-top-btm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.slp-bkg-blue {
  background-color: $dark-blue;
}

.slp-bkg-green {
  background-color: $light-green;
}

.slp-bkg-white {
  background-color: white;
}

.slp-text-blue {
  color: $dark-blue;
}

.slp-text-green {
  color: $light-green;
}

.slp-text-black {
  color: $black;
}

.slp-text-white {
  color: white;
}

.slp-heading p,
.slp-heading h1,
.slp-heading h2,
.slp-heading h3,
.slp-heading h4,
.slp-heading h5 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.slp-bkg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slp-bkg-none {
  background-image: none !important;
}

.slp-padding-top-btm {
  padding-top: 50px;
  padding-bottom: 50px
}

.slp-left-margin {
  margin-left: 45px;
}

.main-wrapper {
  position: relative;
  padding: 0;
}

.main-inner {
  margin-top: 75px;
}

.slp-well {
  display: block;
  width: 100%;
  min-height: 10px;
  padding: 20px 35px;
  margin-bottom: 20px;
  background-color: white;
  @include border-radius(6px);

  [class*=col-] {
    padding: 10px;

    [class*=col-] {
      padding: 5px;
    }
  }
}

.hyphens {
  overflow-wrap: break-word;
  word-wrap: break-word;
  @include hyphens(auto);
}

@import "footer";