html, body {height: 100%;width: 100%;}
.pad-section {padding: 20px 0;}
.pad-section img {width: 100%;}
.text-vcenter {display: table-cell;text-align: center;vertical-align: middle;}
.text-vcenter img{width:100%}
.text-vcenter h1 {font-size: 4.5em;font-weight: 700;margin: 0;padding: 0;}
.nav a:hover{color:#eb180b!important}
#home {background: url(../img/assesspal-home-page-background.jpg) no-repeat scroll;display: table;height: 100%;position: relative;width: 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#services {background-color: #C0D7DC;color: #333;}
#services .glyphicon {border: 2px solid #eb180b;border-radius: 50%;display: inline-block;font-size: 60px;height: 140px;color:#eb180b;line-height: 140px;text-align: center;vertical-align: middle;width: 140px;}
#information {background-color: #C0D7DC;color: #333;}
#information .glyphicon {border: 2px solid #FFFFFF;border-radius: 50%;display: inline-block;font-size: 60px;height: 140px;line-height: 140px;text-align: center;vertical-align: middle;width: 140px;}
#information .panel {opacity: 0.85;}
#google_map {height: 500px;}

.navbar-brand img{width: 150px;}
.navbar-nav li a{line-height:50px;}

.externallink-share{border: none!important;width: 32px!important;height: 32px!important;font-size: 17px!important;position: relative!important;top: 0!important;line-height: 15px!important;}

span.lead,div.lead,p.lead{font-size:18px;}

.cisuitefeatures{text-align:left;}

footer {padding: 20px 0;text-align: center;}
footer .glyphicon {color: #eb180b;font-size: 60px;}
footer .glyphicon:hover {color: #eb180b;}


.imageStyle0{display:none;}
.sectionShow0{display:none;}


.imageStyle1{float:right!important;}
.imageStyle1 img {margin-right:0!important}
.imageStyle2{float:left!important;}
.imageStyle2 img {margin-left:0!important}
.imageStyle3{}
.imageStyle3 img{float:none;}
.imageStyle4{}
.imageStyle5{}
.imageStyle0{display:none;}


@media (max-width:1024px){
	#home{
	    height: 50%;
	    margin-top: 80px;
	}
}

@media (max-width:760px){
	.navbar-brand{
	    width: 80%;
	    max-width: 300px;
	}
	.navbar-brand img{width:100%;}
}

