@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.navbar-brand img{
    width: 320px
}

footer{
    float:left;
    width:100%;
}

.btn-primary{
    background-color:#eb180b;
    border: none;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.page-content .category-products .cart-product .cart-product-image{
    text-align: center;
    overflow: hidden;
    height: 250px;
}
.page-content .category-products .cart-product .cart-product-image img{
    max-width: 100%;
    margin:auto;
}

.cicart-modal-overlay{
    position:fixed;
    top:0;
    background:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    z-index: 99999;
    font-family: 'Open Sans';
}

.cicart-modal-overlay .cicart-modal-container{
    width: 50%;
    display: block;
    margin: auto;
    position: absolute;
    top: 10%;
    float: left;
    left: 25%;
    right: 25%;
    padding: 20px;
    padding-top: 15px;
}

.cicart-modal-overlay .cicart-modal-header {
    width: 100%;
    margin: auto;
    position: relative;
    background: #2e3a47;
    color: white;
    float: left;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.cicart-modal-overlay .cicart-modal-header i{
    float:right;
    cursor:pointer;
}

.cicart-modal-overlay .cicart-modal-body {
    width: 100%;
    margin: auto;
    position: relative;
    background: white;
    float: left;
    padding: 20px;
}

.cicart-modal-overlay .cicart-modal-body p{
    float:left;
    width:100%;
}

.cicart-modal-overlay .cicart-modal-body .cicart-cart-buttons{
    float: right;
    width: 100%;
}
.cicart-modal-overlay .cicart-modal-body .cicart-cart-buttons a{
    border-radius: 0;
    border: none;
    margin-right:10px;
    padding: 6px 12px;
}

.cicart-modal-overlay .cicart-product {
    width: 100%;
    margin: auto;
    position: relative;
    background: white;
    float: left;
    padding: 20px;
}

.cicart-modal-overlay .cicart-product .product-image{
    position: relative;
    float: left;
    max-width: 400px;
    height: 400px;
    border: 1px solid #ebebeb;
}
.cicart-modal-overlay .cicart-product .product-image img{
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.cicart-modal-overlay .cicart-product .product-details .product-title{
    font-size: 20px;
}
.cicart-modal-overlay .cicart-product .product-details .product-price{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    float: left;
}
.cicart-modal-overlay .product-details{
    position: relative;
    float: left;
    /*width: calc(100% - 400px);*/
    height: 400px;
    padding:25px;
}
.cicart-modal-overlay .cicart-product .product-details .product-price::before{
    content:'$';
    float:left;
}
.cicart-modal-overlay .cicart-product .product-details .product-option-details{
    position: absolute;
    bottom: 100px;
    width: 100%;
    padding: 0;
    left: 35px;
}

.cicart-modal-overlay .cicart-product .product-details .product-option-details .product-option .col-md-3{
    margin-top:10px;
}

.cicart-modal-overlay .cicart-product .product-details .product-buttons{
    position: absolute;
    bottom: 0;
    width: 81%;
}
.cicart-modal-overlay .cicart-product .product-details .product-buttons a{
    border-radius: 0;
    border: none;
    width: 100%;
    padding: 6px 12px;
    display: block;
    margin: 10px;
}


.cicart-view-cart{
    float: right;
    position: relative;
    top: 20px;
}
.cicart-view-cart a{
    color:#2e3a47;
    text-decoration:none;
}
.cicart-view-cart .cicart-view-cart-item i{
    width: 45px;
    height: 45px;
    font-size: 20px;
    padding: 10px;
    background: #dce3ea;
    float: left;
}
.cicart-view-cart .cicart-view-cart-item .details{
    width: calc(100% - 55px);
    float: left;
    margin: 5px;
}
.cicart-view-cart .cicart-view-cart-item .details .details-item{
    width: 100%;
    float: left;
}
.cicart-view-cart .cicart-view-cart-item .details .details-item:first-of-type{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;

}


.cicart-container{
    float: left;
    width: 100%;
    height: auto;
    margin:0;
}

.cicart-container .navbar-header{
    width:100%;
}

.cicart-container .cicart-menu{
    width:100%;
    height:50px;
    background:#26323e;
    color:#2e3a47;
}
.cicart-container .cicart-menu ul{
    text-align:center;
}
.cicart-container .cicart-menu ul li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float:none;
}
.cicart-container .cicart-menu ul li:hover{
    background: #1c252e;
}
.cicart-container .cicart-menu ul li:hover a{
    text-decoration:none;
}
.cicart-container .cicart-menu ul li a{
    color: white;
    padding: 14px 16px;
    line-height:20px;
    min-height: 50px;
    font-family: Arial;
    font-size: 13px;
    text-transform: uppercase;
}

.cicart-filter-item a.btn-primary{
    border-radius: 0;
    float: right;
    height: 35px;
    line-height: 30px;
}

.cicart-filter-item a.btn-primary i{
    margin-right:10px;
}

.cicart-filter-item .filterby-item{
    position:absolute;
    left:25%;
    text-align: center;
}

.cicart-container .cicart-menu ul li:hover .dropdown-menu{
    width:200px;
    border-radius:0;
    box-shadow:none;
}
.cicart-container .cicart-menu ul li:hover .dropdown-menu .dropdown-submenu{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #26323e;
}
.cicart-container .cicart-menu ul li:hover .dropdown-menu .dropdown-submenu a{color:#26323e}
.cicart-container .cicart-menu ul li:hover .dropdown-menu .dropdown-submenu:hover > a{color:white}


.cicart-container .cicart-filter{
    height:35px;
    background:#dce3ea;
}
.cicart-container .cicart-filter .cicart-filter-item{padding:0;}
.cicart-container .cicart-filter .cicart-filter-item input[type="text"]{
    background: white;
    border-radius: 0;
    height: 35px;
    border: 1px solid #dce3ea;
    margin: 0;
    width: calc(100% - 38px)!important;
}
.cicart-container .cicart-filter .cicart-filter-item button[type="submit"]{
    background: white;
    border-radius: 0;
    height: 35px;
    border: 1px solid #dce3ea;
    margin: 0;
    border-left: none;
}
.cicart-container .cicart-filter .cicart-filter-item p{
    width: 220px;
    height: 35px;
    line-height:35px;
    margin:0;
}
.cicart-container .cicart-filter .cicart-filter-item p:hover ~ ul.cicart-filter-sort{
    display:block;
}
.cicart-container .cicart-filter .cicart-filter-item ul.cicart-filter-sort{
    display:none;
    position: absolute;
    width: 220px;
    margin: 0;
    padding: 0;
    z-index: 99;
    background: white;
    border: 1px solid #dce3ea;
}
.cicart-container .cicart-filter .cicart-filter-item ul.cicart-filter-sort:hover{display:block;}

.cicart-container .cicart-filter .cicart-filter-item ul.cicart-filter-sort li{
    display: block;
    padding: 7px 14px;
    width: calc(100% + 1);
    margin-left: -1px;
}
.cicart-container .cicart-filter .cicart-filter-item ul.cicart-filter-sort li a{
    color:#465f73;
}
.cicart-container .cicart-filter .cicart-filter-item ul.cicart-filter-sort li:hover {
    background-color:#465f73;
    color:white;
    cursor:pointer;
}

.cicart-modal-overlay .cicart-cart-buttons .btn-success {
    background-color: #1174B5;
}

.cicart-modal-overlay .cicart-cart-buttons .btn-success.clear-cart-yes {
    background-color: #F20C0C;
}

.cicart-container .cicart-products-container{
    padding: 10px;
    padding-top:20px;
    min-height: 400px;
}

.cicart-container .cicart-products-container .cicart_product_item{}
.cicart-container .cicart-products-container .cicart_product_item .cart-product{
    min-height: 385px;
    cursor:pointer;
}
.cicart-container .cicart-products-container .cicart_product_item .cart-product-image{
    position:relative;
    border: 1px solid #ebebeb;
}
.cicart-container .cicart-products-container .cicart_product_item .cart-product-image img{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.cicart-container .cicart-products-container .cicart_product_item .cart-product-info{
    margin: 10px;
    font-size: 14px;
    color: #2e3a47;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
}
.cicart-container .cicart-products-container .cicart_product_item .cart-product-info .cart-product-info-price{
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    float: left;
}

.cicart-container .cicart-products-container .cicart_product_item .cart-product-info .cart-product-info-price::before{
    content:'$';
}

.cicart-container .cicart-products-container .cicart_product_item .cart-product-info-buttons{
    display:none;
    float: right;
    width:100%;

}
.cicart-container .cicart-products-container .cicart_product_item .cart-product-info-buttons a {
    border-radius: 0;
    border: none;
    width: 46%;
    padding: 6px;
    float: left;
    margin: 5px;
}

.cicart-container .cicart-products-container .cicart_product_item:hover .cart-product-info-buttons{
    display:block;

}

.cicart-container .cicart-product{
    padding: 30px;
    font-family: 'Open Sans';
    min-height:350px;
}
.cicart-container .cicart-product .product-image{
    max-width: 100%;
    position: relative;
    float: left;
    height: 350px;
    width: 350px;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin-left:100px;
}
.cicart-container .cicart-product .product-image img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: calc(100% - 20px);
}
.cicart-container .cicart-product .product-details{
    padding: 20px 0 20px 0;
    width:100%;
    float:left;
    min-height:350px;
}

.cicart-container .cicart-product .product-details .details-header{
    border-bottom: 1px solid #1174B5;
}
.cicart-container .cicart-product .product-details .details-header{
    padding:0;
}
.cicart-container .cicart-product .product-details .details-header li{
    background-color: #1174B5;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}
.cicart-container .cicart-product .product-details .details-container{}

.cicart-container .cicart-product .product-details.product-details-view{
    width:calc(100% - 550px);
    padding:25px;
    margin-left:50px;
}
.cicart-container .cicart-product .product-details div{
    float:left;
    /*width:100%;*/
}
.cicart-container .cicart-product .product-details.product-details-view div{
    /*width:auto;*/
}
.cicart-container .cicart-product .product-details.product-details-view .row{
    width:100%;
}
.cicart-container .cicart-product .product-details .product-title{
    font-size: 20px;
}
.cicart-container .cicart-product .product-details .product-price{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    float: left;
}
.cicart-container .cicart-product .product-details .product-price::before{
    content:'$';
    float:left;
}
.cicart-container .cicart-product .product-details .product-option-details{
    position: absolute;
    bottom: 50px;
}
.cicart-container .cicart-product .product-details .product-option-details .product-option{
    margin-top: 10px!important;
}
.cicart-container .cicart-product .product-details .product-option-details .product-option .col-md-3{
    line-height:35px;
}

.cicart-container .cicart-product .product-details .product-buttons{
    position:absolute;
    left:10px;
    bottom:0;
    width:95.5%;
}
.cicart-container .cicart-product .product-details .product-buttons a{
    border-radius: 0;
    border: none;
    width:49%;
}

.cicart-container .product-option-number{
    width: 41px;
    height: 41px;
    padding: 3px;
    float: left;
    text-align:center;
    margin-right:5px;
    border: 1px solid #c6d1dd;
}
.cicart-container .product-option-number-buttons{
    height: 32px;
    width: 24px!important;
    float: left;
}
.cicart-container .product-details .product-option-details .product-option .product-option-number-buttons{
    height: 32px;
    width: 18px!important;
    float: left;
}
.cicart-container .product-option-number-buttons span{
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 0;
    padding: 0 1px 0 0;
    text-align: center;
    border: 1px solid #c6d1dd;
    cursor: pointer;
    margin-bottom: 5px;
}

.cicart-modal-overlay .product-option-number{
    width: 41px;
    height: 41px;
    padding: 3px;
    float: left;
    text-align:center;
    margin-right:5px;
    border: 1px solid #c6d1dd;
}
.cicart-modal-overlay .product-option-number-buttons{
    height: 32px;
    width: 24px!important;
    float: left;
}
.cicart-modal-overlay .product-option-number-buttons span{
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 0;
    padding: 0 1px 0 0;
    text-align: center;
    border: 1px solid #c6d1dd;
    cursor: pointer;
    margin-bottom: 5px;
}

.cicart-container .cicart-cart{
    margin:20px;
}
.cicart-container .cicart-cart .empty-cart p{
    text-align: center;
    font-size: 20px;
    margin: 50px;
}
.cicart-container .cicart-cart table{
    width:100%;
}
.cicart-container .cicart-cart table .cicart-cart-header{
    width:100%;
    background:#e6ebf0;
    height:55px;
}
.cicart-container .cicart-cart table .cicart-cart-header th{
    color:black;
    font-weight:bold;
    padding:10px;
}
.cicart-container .cicart-cart table .cicart-cart-contents{}
.cicart-container .cicart-cart table .cicart-cart-contents tr{}
.cicart-container .cicart-cart table .cicart-cart-contents tr td{
    vertical-align: top;
}
.cicart-container .cicart-cart table .cicart-cart-contents tr td div:first-child{
    margin-top:10px;
    margin-right: 20px;
}
.cicart-container .cicart-cart table .cicart-cart-contents tr td:first-of-type{
    max-width:300px
}
.cicart-container .cicart-cart table .cicart-cart-contents tr td:nth-child(2){
    min-width:400px
}
.cicart-container .cicart-cart table .cicart-cart-contents .cart-product-image{
    width: 300px;
    position: relative;
    min-height: 200px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cicart-container .cicart-cart table .cicart-cart-contents .cart-product-image img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
.cicart-container .cicart-cart table .cicart-cart-contents .cart-product-description{}
.cicart-container .cicart-cart table .cicart-cart-contents .cart-product-price{
    text-align:right;
}
.cicart-container .cicart-cart table .cicart-cart-contents .cart-product-quantity{
    float:left;
    margin:10px;
}
.cicart-container .cicart-cart table .cicart-cart-contents .cart-product-totalprice{
    text-align:right;
}
.cicart-container .cicart-cart .cicart-cart-statistics{
    background: #edeff1;
    padding: 20px;
    float: left;
    width: 100%;
    margin-bottom:30px;
}
.cicart-container .cicart-cart .cicart-cart-statistics ul{
    padding:0;
    float:right;
    width:100%;
    text-align:right;
}
.cicart-container .cicart-cart .cicart-cart-statistics ul li{
    width:100%;
    list-style-type:none;
    height:35px;
    padding-top: 5px;
}
.cicart-container .cicart-cart .cicart-cart-statistics ul li span{
    width:20%;
    color:#7c97b1;
    float:left;
}
.cicart-container .cicart-cart .cicart-cart-statistics ul li span:first-of-type{
    width:80%;
    font-weight:bold;
}
.cicart-container .cicart-cart .cicart-cart-statistics ul li.total-cost{
    width:100%;
    font-size:21px;
    border-top: 1px solid #e0e0e0;
}
.cicart-container .cicart-cart .cicart-cart-buttons:first-of-type{
    margin-bottom:30px;
}
.cicart-container .cicart-cart .cicart-cart-buttons{
    background: #edeff1;
    float: left;
    width: 100%;
    min-height: 70px;
    padding: 20px;
}
.cicart-container .cicart-cart .cicart-cart-buttons a{
    border-radius:0;
    border: none;
    margin-left:10px;
}

.cicart-container .cicart-cart .cicart-cart-buttons a:first-of-type{
    border-radius:0;
    border: none;
    margin-left:0;
}

.cicart-container .cicart-checkout{
    float:left;
    width:100%;
    padding:20px;
    min-height: 750px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian{
    counter-reset:accordianitem
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item{
    background: #dce3ea;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    font-family: 'Open Sans';
}


.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content{
    display: none;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item:first-of-type .content{
    display:block;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .title{
    width: 100%;
    float: left;
    height: 45px;
    padding: 15px;
    background: #26323e;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor:pointer;
}

.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .title span{
    font-size: 14px !important;
    font-family: 'Open Sans',Arial;
}

.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .title::before{
    counter-increment:accordianitem;
    content: counter(accordianitem);
    width: 32px;
    margin-right: 12px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .fa.title::before{
    content: "\f00c";
    width: 32px;
    margin-right: 12px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content{
    float: left;
    width: 100%;
    padding: 20px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .form label{
    float: left;
    width: 100%;
    margin-top:10px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .form .row{
    margin-top:5px;
    margin-bottom:5px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .form .row.filled-in{
    background: white;
    margin: 0;
    padding: 15px;
    padding-bottom: 5px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .form .row.filled-in label{
    width:45px;
    text-align:left;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .form .row.filled-in p{
    float:left;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .form .row.filled-in .form-controls{
    float:right;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .form .row.filled-in input[type="radio"]{
    width:45px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .form input,select{
    float:left;
    width:100%;
    background: white;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .footer{
    margin-top:15px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .footer a.btn:not(.btn-default){
    background:#7EC31D;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .footer a.btn{
    border-radius:0;
    border:none;
    text-transform: uppercase;
    padding:6px 12px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-header{
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-header ul{
    border-bottom: 1px solid #c6d1dd;
    padding:0;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-header ul li{
    background-color: #c8d7e6;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    color: #1c252e;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-header ul li.active{
    background-color: #6d90b3;
    color: white;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-header ul li:hover{
    background-color: #6d90b3;
    color: white;
    cursor:pointer;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-content{
    float:left;
    width:100%;
    margin:20px;
    margin-left:0;
}

.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-content .details-card{
    display:none;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-content .details-card.active{
    display:block;
}

.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-content .card-wrapper{
    width:50%;
    float:right;
}

.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .checkout-note{
    float:left;
    width:100%;
    margin-bottom:20px;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .checkout-note label {
    width:100%;
    float:left;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content  .checkout-note textarea {
    width: 100%;
    padding:5px;
    height: 180px;
    float: left;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-content #credit-card{
    width:45%
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-content .details-card{}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-content .details-card form div{
    margin-left:0;
    padding-left: 0;
}
.cicart-container .cicart-checkout .cicart-checkout-accordian .accordian-item .content .details-content .details-card.active{}

.cicart-container .cicart-checkout .order-summary{
    font-family: 'Open Sans';
    position:relative;
    top:75px;
}
.cicart-container .cicart-checkout .order-summary .title{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #a1a6aa;
    padding: 0;
    border-bottom: 1px solid #dce3ea;
    padding-bottom:15px;
    width:100%;
    float:left;
}
.cicart-container .cicart-checkout .order-summary div{
    float:left;
    width:100%;
    height:45px;
}
.cicart-container .cicart-checkout .order-summary div span{
    float: left;
    width: 50%;
    text-align: right;
}
.cicart-container .cicart-checkout .order-summary div span:first-of-type{
    float: left;
    width: 50%;
    text-align: left;
}
.cicart-container .cicart-checkout .order-summary .promo-code{}
.cicart-container .cicart-checkout .order-summary .promo-code input[type="text"]{
    width: calc(100% - 50px);
    padding: 5px;
    height: 32px;
    border: 1px solid #acbdcd;
    float: left;
}
.cicart-container .cicart-checkout .order-summary .promo-code input[type="button"]{
    height: 32px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    width: 50px;
    border: 1px solid #acbdcd;
    background: #dce3ea;
    border-left: 0;
}


.cicart-container .cicart-checkout .order-summary .order-summary-body{
    min-height:150px;
    float:left;
    width:100%;
    height:auto;
    overflow-wrap:break-word;
}
.cicart-container .cicart-checkout .order-summary .order-summary-body .title{
    font-weight: bold;
    text-transform: initial;
    color: black;
    border: none;
    padding: 0;
    height: auto;
    float: left;
    width: 100%;
}
.cicart-container .cicart-checkout .order-summary .order-summary-body .content{
    background: #dce3ea;
    float: left;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.cicart-container .cicart-checkout .order-summary .order-summary-body .content span{
    width:100%;
    text-align:left;
}

.cicart-cart-template-item{display:none;}

.iw{
    width:100%!important;
}
.iw .col-md-6{
    width:50%!important;
}

.iw:nth-child(2) .col-md-8{
    margin-top:10px;
}

.product-option-details .row{
    width: 100%;
}

@media(max-width:1028px){
    .cicart-filter-item .filterby-item {
        position: relative;
        left: 0;
        text-align: center;
    }
    .cicart-filter-item{
        float:left;
        width:25%;
    }
    .cicart-filter-item:first-of-type{
        float:left;
        width:50%;
    }

    .cicart-container .cicart-filter {
        height: 35px;
        background: #dce3ea;
        margin-bottom: 35px;
    }
    .cart-product-info-buttons{display:none!important;}

    .cicart-container .cicart-product .product-image{
        margin-left:0;
        width:100%;
    }

    .cicart-container .cicart-product .product-details.product-details-view{
        margin-left:0;
        width: 100%;
    }
}

@media(max-width:786px){

    .cicart-container .cicart-checkout .order-summary{
        position:initial;
    }

    .product-details .product-option-details .product-option:not(.iw) .col-md-6:last-child{float:none;}

    .cicart-container table {display:flex;width:100%;margin-top:50px;float:left;}
    .cicart-container table thead{display:none;}
    .cicart-container table tr{width:100%;display: block;margin-bottom: 25px;border-bottom: 2px solid #CCC;}
    .cicart-container .cicart-cart table .cicart-cart-contents{width:100%;}
    .cicart-container table tr td{
        display:flex;
    }
    .cicart-container .cicart-cart table .cicart-cart-contents .cart-product-price{
        display:none;
    }
    .cicart-container .cicart-cart table .cicart-cart-contents tr td{
        max-width:100%;
        width:100%;
        min-width: 100%!important;
    }

    .cicart-container .cicart-cart-buttons:last-of-type .pull-right a:first-child{
        margin-bottom:10px;
    }

    .cart-product-description p#cicart_field_productname{font-weight:bold;}

    .cicart-cart-buttons:nth-child(2) .pull-right,.cicart-container .cicart-cart-buttons:last-of-type .pull-left{
        display:none;
    }
    .cicart-container .cicart-cart-buttons:last-of-type .pull-right {width:100%;}
    .cicart-container .cicart-cart-buttons:last-of-type .pull-right a{
        margin:0;
        width:100%;
    }

    .cicart-container .cicart-cart .cicart-cart-statistics ul li span:first-of-type{
        min-width:50%!important;
        text-align:left;
        width: 50%;
    }
    .cicart-container .cicart-cart .cicart-cart-statistics ul li span{
        min-width:50%!important;
        text-align:right;
        width: 50%;
    }


    .cicart-filter-item{
        float:left;
        width:100%!important;
    }


    .cicart-filter-item:last-of-type a.btn{
        float:left;
        width:100%;
    }

    .cicart-container .cicart-filter .cicart-filter-item p{
        width:100%;
    }

    .cicart-container .cicart-filter .cicart-filter-item p:hover ~ ul.cicart-filter-sort {
        width:100%;
    }

    .cicart-container .cicart-products-container{
        float:left;
        width:100%;
        padding-top:50px;
        margin: 0;
    }

    .cicart-container .cicart-product .product-details.product-details-view{
        width:100%;
    }

    .cicart-container .cicart-product .product-details{
        min-height:initial;
    }

    .cicart-container .cicart-product{
        padding:15px;
    }

    .cicart-container .cicart-product .product-details .product-option-details{
        margin-top: 50px!important;
    }
    .cicart-container .cicart-product .product-details .product-option-details, .cicart-container .cicart-product .product-details .product-buttons{
        position: initial;
        width:100%!important;
    }
    .cicart-container .cicart-product .product-details.product-details-view{
        padding:0;
    }

    .cicart-container .cicart-product .product-details.product-details-view .row{
        margin:0;
    }

    .cicart-container .cicart-product .product-details .product-buttons{
        width:100%;
    }

    .cicart-container .cicart-product .product-details .product-buttons a {
        border-radius: 0;
        border: none;
        width: 95%;
        padding: 6px 12px;
        float: left;
        margin: 5px;
    }


    .cicart-container .cicart-filter {
        min-height:75px;
    }

    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .dropdown-submenu:hover > .dropdown-menu{
        display:block;
    }

    .dropdown-menu li.dropdown-submenu{
        position:relative;
    }

    .dropdown-menu li.dropdown-submenu > .dropdown-menu{
        left: 198px;
        top: -2px;
        position: absolute;
    }
}