.cisuite-asset{
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    float: left;
    width: 100%;
}

.cisuite-asset{
    -webkit-transition-property:color, background;
    -webkit-transition-duration: 0.4s, 0.4s;
    -webkit-transition-timing-function: linear, ease-in;
}
.cisuite-asset:hover{
    background: #f0f4f5;
}

.cisuite-asset input[type="file"]{
    visibility: hidden;
}

.cisuite-asset.longtext textarea{
    width: 100%;
    height: 250px;
}

.cisuite-asset.image{}

.cisuite-asset.image .cisuite-asset-uploader{
    width: 100%;
    height: 400px;
    border: 0.2em dashed;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.cisuite-asset.image .cisuite-asset-uploader .uploader-box{
    height:100%;
    width:100%;
    text-align:center;
    overflow:hidden;
    max-width: 1100px;
}

.cisuite-asset.image .cisuite-asset-options{
    font-size: 23px;
    position: absolute;
    right: 35px;
    top: 10px;
    cursor: pointer;
    z-index:99;
    text-align: right;
}
.cisuite-asset.image .cisuite-asset-options div{
    display:inline-block;
    width:35px;
}

.cisuite-asset.image .cisuite-asset-uploader .uploader-box .image{
    margin:auto;
    height:auto;
    max-height:100%;
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cisuite-asset.image .cisuite-asset-uploader .uploader-box p.empty-image-text{
    width: 40%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    right: 0;
    font-size:1.5em;
    left: 0;
}

.cisuite-asset.file{}

.cisuite-asset.file .cisuite-asset-uploader{
    width: 100%;
    height: 400px;
    border: 0.2em dashed;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.cisuite-asset.file .cisuite-asset-uploader .uploader-box{
    height:100%;
    width:100%;
    text-align:center;
    overflow:hidden;
}

.cisuite-asset.file .file-remove{
    font-size: 23px;
    position: absolute;
    right: 35px;
    top: 10px;
    cursor: pointer;
    z-index:99;
}

.cisuite-asset.file p.file-opener{
    width: 40%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 1.5em;
    left: 0;
}

.cisuite-asset.file p.file-opener:hover{
    color:deepskyblue;

}

.cisuite-asset.file .cisuite-asset-uploader .uploader-box p.empty-file-text{
    width: 40%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    right: 0;
    font-size:1.5em;
    left: 0;
}

.cisuite-asset.loop{
    color: black;
    border-radius: 2px;
    font-size: 1em;
    border: 1px solid #c8d1d3;
    background-color: #f0f4f5;
    box-shadow: none;
    margin-bottom: 15px;
    width: 100%;
}

.cisuite-asset.loop .loop-reorder{
    float: left;
    position: relative;
    left: 20px;
    top: 5px;
    font-size: 20px;
    color: #afafaf;
    cursor: url("/cicms/admin/assets/cursors/openhand.cur") 7 5, default;
}

.cisuite-asset.loop .loop-reorder .icon-group:last-of-type{
    margin-top:-10px;
}


.cisuite-asset.loop .loop-reorder .icon-group i{
    margin:2px
}


.cisuite-asset.loop .loop-title{
    min-height: 55px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    color: #444;
    background: #f0f4f5;
    width: 100%;
}

.cisuite-asset.loop .loop-title p{
    margin: 0;
}


.cisuite-asset.loop .loop-contents{
    width: 100%;
    height: auto;
    float: left;
    background:white;
    padding:15px;
}

.cisuite-asset.loop .loop-contents .loop-add-item{
    float: right;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
}


.cisuite-asset.loop .loop-contents .loop-add-item i{
    margin-left:15px;
}

.structure-reorder{
    float: left;
    position: relative;
    top:-5px;
    padding-right: 10px;
    color: #afafaf;
    cursor: url("/cicms/admin/assets/cursors/openhand.cur") 7 5, default;
}

.structure-reorder .icon-group:last-of-type{
    margin-top:-8px;
}
.structure-reorder .icon-group i{
    margin-right:2px
}

.structure-reorder-menu{
    display:none;
    float: left;
    position: relative;
    top:12px;
    left:-12px;
    color: #afafaf;
    cursor: url("/cicms/admin/assets/cursors/openhand.cur") 7 5, default;
}

.structure-reorder-menu .icon-group:last-of-type{
    margin-top:-10px;
}
.structure-reorder-menu .icon-group i{
    margin-right:2px;
    left:0!important;
}

.structure-reorder-menu-2{
    display:none;
    float: left;
    position: relative;
    top:12px;
    left:-12px;
    color: #afafaf;
    cursor: url("/cicms/admin/assets/cursors/openhand.cur") 7 5, default;
}

.structure-reorder-menu-2 .icon-group:last-of-type{
    margin-top:-10px;
}
.structure-reorder-menu-2 .icon-group i{
    margin-right:2px;
    left:0!important;
}

@media(max-width:767px){
    .cisuite-asset.html{
        width:100%!important;
    }
    .cisuite-asset.html .mce-edit-area{
        border-right-width:1px!important;
    }

    .cisuite-asset:hover{
        background: initial;
    }
}