@font-face {
    font-family:'praxis';
    src: url('/cicms/includes/assets/fonts/praxis-lt-regular-593df71b752ee.ttf');
}
html,body{
    font-family: 'praxis', 'Helvetica Neue';
}

.epb-header {
    width: 100%;
    display: block;
    height: 164px;
}

.epb-head {
    float: left;
    width: 100%;
    height: 100%;

}



.epb-head .social-icons {
    position: absolute;
    right: 15%;
    top: 20%;
    bottom: 0;
}
.epb-head .social-icons li{
    float:left;
    list-style-type:none;
    padding:25px;
}
.epb-head .social-icons li a{}
.epb-head .social-icons li a img{}

.epb-head .content{
    background: url('/cicms/includes/assets/images/wrapper_header_bg.jpg');
    height:100%;
    background-size:contain;
    background-repeat:no-repeat;
}

.epb-menu {
    float: left;
    width: 100%;
    height: 47px;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    color:black;
}

.epb-menu .navbar-default {
    background: none;
    border: none;
    min-height: 20px;
    padding: 0;
    margin: 0;
}

.epb-menu #epbmenu {
    border: none;
    background: white;
    width: 100%;
    position: relative;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

.epb-menu #epbmenu .nav {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
}

.epb-menu #epbmenu div.dropdown {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    padding-left:24px;
    padding-right:24px;
    border-left:1px solid #BCBCBC;
    height: 45px;
    padding-top: 13px;
    cursor:pointer;
}
.epb-menu #epbmenu div.dropdown:last-child {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    border-right:1px solid #BCBCBC;
}

.epb-menu #epbmenu div.dropdown:hover {
}

.epb-phone a {
    color: black;
}

.epb-leadin {
    min-height: 350px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    background-size:cover;
    float:left;
    width:100%;
    background-repeat:no-repeat;
}

.epb-leadin h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
    color: #F20C0C;
    font-size: 45px;
}

.epb-leadin .epb-leadin-body{
    min-height:350px;
    background-repeat:no-repeat;
}

.epb-body .epb-buttons, .epb-team .epb-buttons{
    float:left;
    width:100%;
    padding:20px;
}

.epb-body {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}
.epb-text img{
    padding: 0 20px;
}

.epb-flex{display:flex;}

.epb-flex.image-pull-left{flex-direction:row;}
.epb-flex.image-pull-right{flex-direction:row-reverse;}

.epb-flex div:not(.bodyimage){
    flex-grow:1;
}

.image-hidden img,.image-hidden .bodyimage{display:none!important;}
.image-pull-hidden img,.image-hidden .bodyimage{display:none!important;}
.image-pull-left img{float:left;}
.image-pull-right img{float:right;}

.epb-menu #epbmenu a {
    color: black;
    padding: 0;
}

#epbmenu .nav .dropdown-menu {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

.epb-menu #epbmenu div.dropdown .dropdown-menu div.dropdown {
    background: #565656;
    font-size: 12px;
    border-bottom: 2px solid white;
    cursor:pointer;
}
.epb-menu #epbmenu div.dropdown .dropdown-menu div.dropdown:hover {
    background: #90a1a5;
}

.epb-menu #epbmenu div.dropdown .dropdown-menu div.dropdown a:hover {
    background: none;
}

.epb-menu #epbmenu div.dropdown .dropdown-menu div.dropdown:last-of-type{
    border-bottom: none;
}

.epb-body .epb-text form .form-group{
    width: 100%;
}
.epb-body .epb-text form .form-group label{
    width: 100%;
}
.epb-body .epb-text form .form-group input{
    width: 100%;
}
.epb-body .epb-text form .form-group textarea{
    width: 100%;
    height: 200px;
}

.epb-body .epb-text form .form-validate .g-recaptcha {
    width: 300px;
    margin: auto;
}
.epb-body .epb-text form .form-submit{
    text-align: center;
}
.epb-body .epb-text form .form-submit input{
    width: 150px;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.epb-body img {
    height:auto;
}
.epb-text {
    padding-top: 15px;
}
.epb-body .bodyimage{
    float: left;
    display: block;
    text-align: center;
    position: relative;
}

.epb-team{
    text-align:center;
    display: block;
    float: left;
}
.epb-team .team-member{}
.epb-team .team-member .team-member-image img{}
.epb-team h2,.epb-body h2 {
    color: #1174B5;
    text-transform: uppercase;
    font-size: 22px;
    float: left;
    width: 100%;
}
.epb-team .team-member .team-member-details p.name {
    padding-top: 10px;
}

.epb-footer{
    float:left;
    width:100%;
    background: #1174B5;
    padding-bottom: 30px;
}
.epb-footer-col{
    color: white;
}
.epb-footer-col ul{}
.epb-footer-col ul li{
    list-style-type:none;
    color: white;
    margin-top:15px;
}
.epb-footer-col ul li.heading, .epb-footer h1{
    color: #7EC31D!important;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.epb-footer-col ul li a{
    text-decoration: none;
    color: white;
}
.epb-footer-col ul li a img{
    margin-right:25px;
}
.epb-footer h6{
    font-size: 10px;
    width:75%;
}
.epb-footer input[type="submit"]{
    background-color: #7EC31D;
    border-radius: 0;
    border: none;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom:10px;
}
.btn.btn-primary {
    background-color: #7EC31D;
    border-radius: 0;
    border: none;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.epb-footer .wfe_component{
    padding: 10px;
    padding-bottom:0px
}
.alt-bg{
    background-color: #CFE3F0
}

@media(min-width:786px){
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
        text-align:center;
        width:190px;
    }
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
        text-align:center;
        width:190px;
    }

    .dropdown-menu div.dropdown-submenu{
        position:relative;
        border: 1px solid #ccc;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        min-height: 45px;
        padding:15px;
    }

    .dropdown-menu div.dropdown-submenu:first-of-type{
        position:relative;
        border-top: 1px solid #ccc;
        min-height: 45px;
        padding:15px;
    }

    .dropdown-menu div.dropdown-submenu > .dropdown-menu{
        left: 188px;
        top: 0;
        position: absolute;
    }
}



.price-list{
    width: 100%;
    float: left;
}
.price-list .price-item{
    background-color: #7EC31D;
    padding: 15px;
    margin: 20px;
    width:98%;
}

.price-list .price-item .title{
    float: left;
    margin-left: 55px;
    height:100%;
    line-height:60px;
}

.price-list .price-item .price {
    float:right;
    margin-right: 55px;
    background:white;
    padding:20px;
    border-radius: 50px;
}

.container,.epb-team{
    font-size: 16px;
}

div p{width:100%;}

@media(max-width:1150px){
    .epb-head .social-icons{display:none;}
}

@media(max-width:1024px){
    .epb-menu .navbar{padding:0;}
    .epb-menu #epbmenu {padding: 0;width: 100%;}

    .navbar-toggle{margin:5px;margin-right:10px;}


    .epb-footer .epb-footer-col:last-of-type li:not(.heading){float:left;width:33%;}
    .epb-footer .epb-footer-col:last-of-type li:not(.heading) a{color:#1174b5;}
    .epb-footer .epb-footer-col:last-of-type li:not(.heading) a img{margin-right:0;margin-left:25px;}

    .epb-header{
        height:150px;
    }

    .epb-body.row .epb-text.epb-flex div:not(.bodyimage){
        float:left;
        width:100%;
    }

    .price-list .price-item{
        width: 100%;
        margin: 20px 0 20px 0!important;
        float: left;
    }
}

@media(max-width:768px){
    .epb-flex{
        display:block;
    }

    .epb-menu .container-fluid{padding:0;}
    .epb-menu .container-fluid .navbar-header{margin:0;}
    .epb-menu #epbmenu{margin:0;}
    .epb-menu #epbmenu div.dropdown{}

    .epb-menu #epbmenu div.dropdown.open a{color:black;}
    .epb-menu #epbmenu div.dropdown.open div.dropdown{color:white;}

    .epb-head .content{
        background-position-x: -50px;
        background-size:cover;
    }


    .wfe_component td{
        width:100%;
        float:left;
    }

    .wfe_component label,input{
        width:100%;
        float:left;
    }


    .price-list .price-item .title{
        margin-left: 0;
        width:50%;
        line-height:25px;
    }

    .price-list .price-item .price {
        float:right;
        margin-right: 0;
        background:white;
        padding:20px;
        border-radius: 50px;
    }

}

@media (max-width: 990px) {


    .epb-body .bodyimage{
        width: 100%;
        text-align: center;
        position: relative;
        height: 260px;
        overflow: hidden;
    }
    .epb-body .bodyimage img{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        padding:15px;
    }

    .epb-menu #epbmenu .nav {margin:0;}

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>div.dropdown {
        width: 100%!important;
        text-align: center!important;
        float:left;
    }
    .navbar-nav>div.dropdown>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #epbmenu{
        border-top:1px solid #ccc;
    }
    .epb-menu #epbmenu div.dropdown:first-of-type{
        border-top:1px solid #ccc;
    }
    .epb-menu #epbmenu div.dropdown{
        border-left:0!important;
        border-right:0!important;
        border-bottom:1px solid #ccc;
        height:initial;
        padding:15px;
    }

    #epbmenu .nav .dropdown-menu{
        position: relative;
        width:100%;
        border:none;
        box-shadow:none;
        background:none;
        border-top: 1px solid #ccc;
        margin-top: 10px;
    }

    .epb-menu #epbmenu div.dropdown:hover{
        background: #efefef;
    }

     #epbmenu .nav .dropdown-menu .dropdown-submenu{
         text-align: center;
         padding: 10px;
     }


    .epb-text img{padding:0;}
}